[Unit]
Description=webapp
After=network-online.target firewalld.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/{{ ansible_user }}/chessfracture/webapp
ExecStart=/home/{{ ansible_user }}/chessfracture/webapp/target/debug/webapp
Restart=on-failure
User={{ ansible_user }}
Environment=RUST_BACKTRACE=1

[Install]
WantedBy=multi-user.target


