---

- name: disable selinux # FIXME
  selinux:
    policy: targeted
    state: permissive

- name: install nginx
  yum:
    name: nginx
    state: installed

- name: open nginx ports
  firewalld:
    port: "{{item}}/tcp"
    permanent: true
    immediate: true
    state: enabled
  with_items:
    - 80
    - 443

- name: configure nginx.conf
  template:
    src: etc/nginx/nginx.conf
    dest: /etc/nginx/nginx.conf
  notify: restart nginx

- name: configure nginx webapp.conf
  template:
    src: "etc/nginx/conf.d/{{item}}.conf"
    dest: "/etc/nginx/conf.d/{{item}}.conf"
  notify: restart nginx
  with_items:
    - default
    - certbot

- name: start nginx
  service:
    name: nginx
    state: started
    enabled: true

- name: create /var/www/.well-known/acme-challenge
  file:
    path: /var/www/.well-known/acme-challenge
    state: directory
    mode: 0755

- name: install certbot
  yum:
    name: certbot
    state: installed

- name: get certificate
  shell: certbot certonly -n --webroot -w /var/www -d chessfracture.net -m {{ letsencrypt_mail }} --agree-tos --staging
  args:
    creates: /etc/letsencrypt/live/chessfracture.net/fullchain.pem
  when: certbot_staging is defined

- name: get certificate
  shell: certbot certonly -n --webroot -w /var/www -d chessfracture.net -m {{ letsencrypt_mail }} --agree-tos
  args:
    creates: /etc/letsencrypt/live/chessfracture.net/fullchain.pem
  when: not certbot_staging is defined

- name: certbot crontab
  cron:
    cron_file: certbot
    job: certbot certonly -n --webroot -w /var/www -d chessfracture.net -m {{ letsencrypt_mail }} --agree-tos --staging
    special_time: weekly
    user: root
  when: certbot_staging is defined

- name: certbot crontab
  cron:
    cron_file: certbot
    job: certbot certonly -n --webroot -w /var/www -d chessfracture.net -m {{ letsencrypt_mail }} --agree-tos
    special_time: weekly
    user: root
  when: not certbot_staging is defined

- name: nginx service
  service:
    name: nginx
    state: started
    enabled: true

- name: configure nginx webapp.conf
  template:
    src: "etc/nginx/conf.d/{{item}}.conf"
    dest: "/etc/nginx/conf.d/{{item}}.conf"
  notify: restart nginx
  with_items:
    - default
    - django
    - certbot
    - stub_status

- name: create /var/www/media
  file:
    path: /var/www/media
    state: directory
    mode: 0755
    owner: root
    group: root

- name: copy media to /var/www/media
  synchronize:
    src: media/
    dest: /var/www/media
    delete: yes
 
