<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Chess Fracture</title>
  </head>
  <body>
    <div style="text-align:center">
      <p>Simulation finished!</p>
      <a href="{{ blend_link }}" width="400">Download</a>
    </div>
  </body>
</html>

