<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Chess Fracture</title>
  </head>
  <body>
    <div style="text-align:center">
      {{> header }}
      <p>
        Oops seems like something broke: {{ error_message }}
      </p>
    </div>
  </body>
</html>

