<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Chess Fracture</title>
  </head>
  <body>
    <a href="{{ blend_link }}" width="400">Download</a>
    <p>{{ value }}</p>

  </body>
</html>

