<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Handlebars Demo</title>
  </head>
  <body>
    <p>Try going to <a href="/hello/YourName">/hello/YourName</a></p>

    <p>
      <form action="/post" method="post">
        <input name="url">
        <button>Fracture!</button>
      </form>
    </p>
  </body>
</html>

