<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Chess Fracture</title>
  </head>
  <body>
    <div style="text-align:center">
    {{> header }}

      <p>
        Paste the URL of a Lichess standard game from the analysis tab (example: https://lichess.org/noESFymR/black)
      </p>
      <p>
        <form action="/webapp/post" method="post">
          <input name="url">
          <button>Fracture!</button>
        </form>
      </p>
    </div>
  </body>
</html>

