[Unit]
Description=webapp
After=network-online.target firewalld.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/{{ ansible_user }}/chess-fracture/webapp
ExecStart=/home/ansible/.cargo/bin/cargo run
Restart=on-failure
User={{ ansible_user }}

[Install]
WantedBy=multi-user.target


