<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" size="32x32" href="/media/favicon-32x32.png">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />

    <title>Chess Fracture</title>
  </head>

  <body>
     <a class="github-fork-ribbon" href="https://github.com/tatref/chess-fracture" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a> 

    <div style="text-align:center">
      {% include 'chessfracture/header.html' %}
      
      <h1>Chessfracture</h1>
      
      <div>
        Paste Lichess <b>analysis</b> URL - try https://lichess.org/167D6zBT
      <form action="fracture" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Fracture!">
      </form>
      </div>
      
      {% if latest_games %}
      <h2>Last games</h2>
        <ul>
        {% for game in latest_games %}
          <li><a href="get/{{game.site}}/{{game.gameid}}">{{ game.site }}/{{ game.gameid }}</a></li>
        {% endfor %}
        </ul>
      {% else %}
        <p>No game yet</p>
      {% endif %}
    </div>
  </body>
</html>
