<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Chess Fracture</title>
  </head>

  <body>
    <div style="text-align:center">
      {% include 'chessfracture/header.html' %}
      
      <h1>Chessfracture</h1>
      
      <div>
        Paste Lichess analysis tab URL
      <form action="fracture" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Fracture!">
      </form>
      </div>
      
      {% if latest_games %}
      <h2>Last games</h2>
        <ul>
        {% for game in latest_games %}
          <li><a href="get/{{game.site}}/{{game.gameid}}">{{ game.site }}/{{ game.gameid }}</a></li>
        {% endfor %}
        </ul>
      {% else %}
        <p>No game yet</p>
      {% endif %}
    </div>
  </body>
</html>
