backcall==0.1.0
certbot-dns-route53==1.9.0
certifi==2018.8.13
chardet==3.0.4
decorator==4.3.0
Django==2.2.13
idna==2.7
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
lxml==4.3.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.5
ptyprocess==0.6.0
Pygments==2.2.0
python-chess==0.24.2
pytz==2018.5
requests==2.24.0
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.3.0
traitlets==4.3.2
urllib3==1.25.11
wcwidth==0.1.7
