ansible==2.7.16
asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.3
docopt==0.6.2
enum34==1.1.6
Flask==1.0.2
grip==4.5.2
idna==2.7
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
Markdown==3.0.1
MarkupSafe==1.0
paramiko==2.4.2
path-and-address==2.0.1
pyasn1==0.4.4
pycparser==2.18
Pygments==2.2.0
PyNaCl==1.2.1
PyYAML==5.1
requests==2.20.1
six==1.11.0
urllib3==1.24.3
Werkzeug==0.15.3
