[Unit]
Description=Chessfracture worker
Wants=network.target
After=network-pre.target dbus.service
Before=network.target network.service

[Service]
Type=simple
User={{ chessfracture_user }}
Group={{ chessfracture_user }}

Environment=CHESS_FRACTURE_FRAMES_PER_MOVE=20
Environment=CHESS_FRACTURE_FRAGMENTS=5
Environment=CHESS_FRACTURE_TEST=""

ExecStart={{ django_venv_path }}/bin/python36 /home/{{ chessfracture_user }}/chessfracture/django/worker.py
Restart=on-failure
#KillMode=process
TimeoutStopSec=180s
KillMode=mixed


#ProtectSystem=full
#ReadWritePaths=/tmp

